$Desaturated-Red: hsl(0, 36%, 70%);
$Soft-Red: hsl(0, 93%, 68%);
$Soft-Green: hsl(130, 93%, 68%);
$Dark-Grayish-Red: hsl(0, 6%, 24%);
$gray: #daced0;
$gradient-1: linear-gradient(to bottom, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
$gradient-2: linear-gradient(to right, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

$transition-1: 0.3s;
$font-weight-1: 300;
$font-weight-2: 400;
$font-weight-3: 600;

$font-size-1: clamp(3.8rem, 4.375vw, 6.3rem);
$font-size-2: clamp(1.4rem, 1.111vw, 1.6rem);

$width-1: min(100%, 50rem);
$width-2: min(90%, 31.2rem);
$width-3: min(100%, 144rem);
$width-4: min(100%, 44.2rem);

@mixin tablet {
  @media (min-width: 56em) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 75em) {
    @content;
  }
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;

  h1 {
    font-size: $font-size-1;
    letter-spacing: 1.3rem;
    font-weight: $font-weight-3;
    text-transform: uppercase;
    color: $Dark-Grayish-Red;
    line-height: 1.2;

    &.decorated-title {
      color: $Desaturated-Red;
      font-weight: $font-weight-1;
    }
  }

  p {
    color: $Desaturated-Red;
    font-weight: $font-weight-2;
    font-size: $font-size-2;

    @include tablet {
      font-size: 1.6rem;
    }
  }
}

form {
  width: 100%;
  display: flex;
  position: relative;

  // error
  &.input-error {
    input {
      border: 0.2rem solid $Soft-Red;
      background: url("../../images/icon-error.svg") no-repeat right;
      background-position: right 6.3rem top 50%;
      position: relative;

      @include tablet() {
        background-position: right 6.3rem top 50%;
      }
    }

    p {
      opacity: 1;
      transition: $transition-1;
    }
  }

  // success
  &.input-success {
    input {
      border: 0.2rem solid $Soft-Green;
    }
  }

  // email input
  input {
    width: 100%;
    border: 0.2rem solid $gray;
    border-radius: 1.86em;
    padding: 0.875em 2em;
    transition: $transition-1;

    &::placeholder {
      color: $gray;
    }

    &:focus,
    &:active {
      outline: none;
    }
  }

  // submit button
  button {
    margin-left: -5rem;
    background: $gradient-2;
    border: none;
    cursor: pointer;
    border-radius: 3rem;
    padding: 2rem 3.5rem;
    transition: $transition-1;
    position: relative;

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.1);
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }

    &:hover {
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
    }

    &:focus {
      &::after {
        opacity: 1;
      }
    }

    @include tablet {
      border-radius: 3rem;
      padding: 2rem 4.5rem;
    }
  }

  //error message
  p {
    color: $Soft-Red;
    position: absolute;
    left: 2em;
    bottom: -4.2em;
    opacity: 0;
  }
}
