@use "utils" as *;

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/** left side */
.left-side {
  padding: 3.3rem 0rem;

  // logo
  .logo {
    margin: 0rem 2.2rem 3.1rem;
  }

  // hero image
  .mobile-hero-container {
    width: $width-1;
    margin: 0 auto 6.6rem;

    img {
      width: 100%;
      object-fit: cover;
    }

    @include desktop {
      display: none;
    }
  }

  // text section
  .text-section {
    width: $width-2;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1:last-of-type {
      margin-bottom: 1.8rem;
    }

    p {
      margin-bottom: 2.1rem;
    }
  }
}

/** right side */
.right-side {
  display: none;

  @include desktop {
    display: flex;
  }
}
