@use "utils" as *;

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 6rem;

  @include tablet {
    padding-bottom: 0;
  }
}

main {
  width: $width-3;

  @include tablet {
    display: flex;
  }

  /** left side */
  .left-side {
    width: $width-1;
    margin: 0 auto;
    padding: 3.3rem 0rem;

    @include tablet {
      padding: 6.6rem 3rem 0rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include desktop {
      padding: 6.6rem 0rem 0rem;
      align-items: baseline;
    }

    // logo
    .logo {
      margin: 0rem 2.2rem 3.1rem;

      @include tablet {
        margin: 0rem 0rem 13.6rem;
      }
    }

    // hero image
    .mobile-hero-container {
      width: $width-1;
      margin: 0 auto 6.6rem;

      img {
        width: 100%;
        object-fit: cover;
      }

      @include tablet {
        display: none;
      }
    }

    // text section
    .text-section {
      width: $width-4;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0 2rem;

      h1:last-of-type {
        margin-bottom: 1.8rem;
      }

      p {
        margin-bottom: 2.1rem;
      }

      @include tablet {
        align-items: center;
        text-align: center;
        margin: 0;
        padding: 0;

        h1:last-of-type {
          margin-bottom: 2.4rem;
        }

        p {
          margin-bottom: 3.4rem;
        }
      }

      @include desktop {
        align-items: baseline;
        text-align: left;
        margin: 0;
      }
    }
  }

  /** right side */
  .right-side {
    display: none;

    @include tablet {
      display: flex;
    }
  }
}
