/* 
=====================
=====================
        css reset 
====================
====================
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol[role=list] {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  font-size: 62.5%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
}
body h1 {
  font-size: 3.8rem;
  letter-spacing: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  color: hsl(0deg, 6%, 24%);
  line-height: 1.2;
}
body h1.decorated-title {
  color: hsl(0deg, 36%, 70%);
  font-weight: 300;
}
body p {
  color: hsl(0deg, 36%, 70%);
  font-weight: 400;
  font-size: 1.4rem;
}
@media (min-width: 56em) {
  body p {
    font-size: 1.6rem;
  }
}

button {
  background: linear-gradient(to right, hsl(0deg, 80%, 86%), hsl(0deg, 74%, 74%));
  border: none;
  cursor: pointer;
  border-radius: 3rem;
  padding: 2rem 3.5rem;
}
@media (min-width: 56em) {
  button {
    border-radius: 3rem;
    padding: 2rem 4.5rem;
  }
}

input {
  border: 0.2rem solid #daced0;
  border-radius: 1.86em;
  padding: 0.875em 2em;
}
input::-moz-placeholder {
  color: #daced0;
}
input:-ms-input-placeholder {
  color: #daced0;
}
input::placeholder {
  color: #daced0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/** left side */
.left-side {
  padding: 3.3rem 0rem;
}
.left-side .logo {
  margin: 0rem 2.2rem 3.1rem;
}
.left-side .mobile-hero-container {
  width: min(100%, 48.3rem);
  margin: 0 auto 6.6rem;
}
.left-side .mobile-hero-container img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 56em) {
  .left-side .mobile-hero-container {
    display: none;
  }
}
.left-side .text-section {
  width: min(90%, 31.2rem);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.left-side .text-section h1:last-of-type {
  margin-bottom: 1.8rem;
}
.left-side .text-section p {
  margin-bottom: 2.1rem;
}

/** right side */
.right-side {
  display: none;
}
@media (min-width: 56em) {
  .right-side {
    display: flex;
  }
}/*# sourceMappingURL=style.css.map */