/* 
=====================
=====================
        css reset 
====================
====================
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol[role=list] {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  font-size: 62.5%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
}
body h1 {
  font-size: clamp(3.8rem, 4.375vw, 6.3rem);
  letter-spacing: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  color: hsl(0deg, 6%, 24%);
  line-height: 1.2;
}
body h1.decorated-title {
  color: hsl(0deg, 36%, 70%);
  font-weight: 300;
}
body p {
  color: hsl(0deg, 36%, 70%);
  font-weight: 400;
  font-size: clamp(1.4rem, 1.111vw, 1.6rem);
}
@media (min-width: 56em) {
  body p {
    font-size: 1.6rem;
  }
}

form {
  width: 100%;
  display: flex;
  position: relative;
}
form.input-error input {
  border: 0.2rem solid hsl(0deg, 93%, 68%);
  background: url("../../images/icon-error.svg") no-repeat right;
  background-position: right 6.3rem top 50%;
  position: relative;
}
@media (min-width: 56em) {
  form.input-error input {
    background-position: right 6.3rem top 50%;
  }
}
form.input-error p {
  opacity: 1;
  transition: 0.3s;
}
form input {
  width: 100%;
  border: 0.2rem solid #daced0;
  border-radius: 1.86em;
  padding: 0.875em 2em;
  transition: 0.3s;
}
form input::-moz-placeholder {
  color: #daced0;
}
form input:-ms-input-placeholder {
  color: #daced0;
}
form input::placeholder {
  color: #daced0;
}
form input:focus {
  outline: none;
  border: 0.2rem solid hsl(0deg, 6%, 24%);
}
form button {
  margin-left: -5rem;
  background: linear-gradient(to right, hsl(0deg, 80%, 86%), hsl(0deg, 74%, 74%));
  border: none;
  cursor: pointer;
  border-radius: 3rem;
  padding: 2rem 3.5rem;
  transition: 0.3s;
  position: relative;
}
form button::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
form button:hover {
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}
form button:focus::after {
  opacity: 1;
}
@media (min-width: 56em) {
  form button {
    border-radius: 3rem;
    padding: 2rem 4.5rem;
  }
}
form p {
  color: hsl(0deg, 93%, 68%);
  position: absolute;
  left: 2em;
  bottom: -4.2em;
  opacity: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 6rem;
}
@media (min-width: 56em) {
  body {
    padding-bottom: 0;
  }
}

main {
  width: min(100%, 144rem);
  /** left side */
  /** right side */
}
@media (min-width: 56em) {
  main {
    display: flex;
  }
}
main .left-side {
  width: min(100%, 50rem);
  margin: 0 auto;
  padding: 3.3rem 0rem;
}
@media (min-width: 56em) {
  main .left-side {
    padding: 6.6rem 3rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 75em) {
  main .left-side {
    padding: 6.6rem 0rem 0rem;
    align-items: baseline;
  }
}
main .left-side .logo {
  margin: 0rem 2.2rem 3.1rem;
}
@media (min-width: 56em) {
  main .left-side .logo {
    margin: 0rem 0rem 13.6rem;
  }
}
main .left-side .mobile-hero-container {
  width: min(100%, 50rem);
  margin: 0 auto 6.6rem;
}
main .left-side .mobile-hero-container img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 56em) {
  main .left-side .mobile-hero-container {
    display: none;
  }
}
main .left-side .text-section {
  width: min(100%, 44.2rem);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 2rem;
}
main .left-side .text-section h1:last-of-type {
  margin-bottom: 1.8rem;
}
main .left-side .text-section p {
  margin-bottom: 2.1rem;
}
@media (min-width: 56em) {
  main .left-side .text-section {
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  main .left-side .text-section h1:last-of-type {
    margin-bottom: 2.4rem;
  }
  main .left-side .text-section p {
    margin-bottom: 3.4rem;
  }
}
@media (min-width: 75em) {
  main .left-side .text-section {
    align-items: baseline;
    text-align: left;
    margin: 0;
  }
}
main .right-side {
  display: none;
}
@media (min-width: 56em) {
  main .right-side {
    display: flex;
  }
}/*# sourceMappingURL=style.css.map */